// main blog index
.blog
  .site-main
    +outer-container

  article
    margin-bottom: 5em

  +media($small-screen)
    article
      margin-left: 1em
      margin-right: 1em

  +media($medium-screen)
    article
      +span-columns(6)
      +shift(1)

  +media($large-screen)
    article
      +span-columns(8)
      +shift(1)

  +media($xl-screen)
    article
      +span-columns(10)
      +shift(1)

// individual blog posts
.single

  header.entry-header
    margin-bottom: 3em

  h1.entry-title
    color: $resolution-red

  ul
    font-weight: 300
    list-style: circle
    li
      margin-bottom: .25em

  .site-content
    +outer-container

  +media($small-screen)
    article
      margin-left: 1em
      margin-right: 1em

  +media($medium-screen)
    article
      +span-columns(6)
      +shift(1)

  +media($large-screen)
    article
      +span-columns(8)
      +shift(1)

  +media($xl-screen)
    article
      +span-columns(10)
      +shift(1)


.entry-meta
  margin-top: -1em
  margin-bottom: 1em
