.article--main
  +outer-container
  margin-left: 1em
  margin-right: 1em

.header-too-divider
  margin-top: -3em
  margin-bottom: 5em
  height: 26px
  background:
    image: url('img/tile.svg')
    size: 8px

//media queries
// 12 column layout
+media($xl-screen)

  .section--outer
    +span-columns(12)
    margin-bottom: 5em

  .section__header
    +span-columns(3 of 12)
    +shift(1)
    text-align: center

  .section--inner
    +span-columns(7 of 12)

  .header-too-divider
    +span-columns(10)
    +shift(1)

// 10 column layout
+media($large-screen)
  .section--outer
    +span-columns(10)
    margin-bottom: 5em

  .section__header
    +span-columns(2 of 10)
    +shift(1)
    text-align: center

  .section--inner
    +span-columns(6 of 10)

  .header-too-divider
    +span-columns(8)
    +shift(1)

  #resolution-mission
    .section__header
      +span-columns(8 of 10)
      +shift(1)
    .section--inner
      +span-columns(6 of 10)
      +shift(2)
      text-align: center

// 8 column layout
+media($medium-screen)
  .section--outer
    +span-columns(8)
    margin-bottom: 5em

  .section__header
    +span-columns(6 of 8)
    +shift(1)
    text-align: center
    margin-bottom: 2em

  .section--inner
    +span-columns(6 of 8)
    +shift(1)

  .header-too-divider
    +span-columns(6)
    +shift(1)

  #resolution-mission
    .section__header
      +span-columns(6 of 8)
      +shift(1)
      margin-bottom: 1em
    .section--inner
      +span-columns(6 of 8)
      +shift(1)
      text-align: center
      margin-bottom: 0

// 4 column layout
+media($small-screen)
  .section--outer
    +span-columns(4)
    margin-bottom: 3em

  .section__header
    +span-columns(4 of 4)
    text-align: center
    margin-bottom: 2em

  .section--inner
    +span-columns(4 of 4)
    text-align: center

  .header-too-divider
    +span-columns(4)

  #resolution-mission
    .section__header
      +span-columns(6 of 8)
      +shift(1)
      margin-bottom: 1em
    .section--inner
      +span-columns(6 of 8)
      +shift(1)
      text-align: center
      margin-bottom: 1em

// TODO: move this to typography
.p--margin-top
  padding-top: 2em

//TODO: move this to header
hr
  margin: 1em auto 2em auto
  max-width: 1060px

.vertical-divider
  width: 10px
  float: left
  margin-right: 1em
  display: block
  +media($small-screen)
    display: none
  +media($medium-screen)
    display: none
  +media($large-screen)
    display: none
