section.full-width
  h1
    margin-bottom: 0.5em
    color: $resolution-red

.team-member-name
  margin-bottom: 0.125em
  letter-spacing: 2px

.team-title
  font-size: 0.8em
  font-style: oblique
  color: $resolution-red


+media($small-screen)
  #post-9
    +outer-container
    margin-left: 1em
    margin-right: 1em
    section
      +span-columns(4)
      header
        +span-columns(4)
        text-align: left
        img
          width: 140px
      section
        +span-columns(4)

+media($medium-screen)
  #post-9
    +outer-container
    section
      +outer-container
      header
        +span-columns(6 of 8)
        +shift(1)

        text-align: left
        img
          width: 140px
      section
        +span-columns(6 of 8)
        +shift(1)

        text-align: left
    section.full-width
      +span-columns(6 of 8)
      +shift(1)

+media($large-screen)
  #post-9
    +outer-container
    section
      section
        +span-columns(6)
      header
        +span-columns(2)
        img
          width: 140px

    section.full-width
      +span-columns(8 of 10)
      +shift(1)

+media($xl-screen)
  #post-9
    +outer-container
    section
      section
        +span-columns(8 of 12)
      header
        +span-columns(2 of 12)
        img
          width: 140px

    section.full-width
      +span-columns(10 of 12)
      +shift(1)
